# Node.js
node_modules/
npm-debug.log

# Python
*.pyc
__pycache__/

# Java
*.class
*.jar

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs and backups
*.log
*.bak